<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>to-do app</title>
  <link rel="stylesheet" href="./stylesheets/style.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>
<body>
  <main>
    <header>
      <h1>today's activities</h1>
    </header>
    
    <section id="form-data-adding">
        <h1>add your activities here:</h1>
        <form action="/data" method="post">
          <input type="text" name="message" id="" placeholder="Write Your Work Here....">
          <input type="submit" value="Add">
        </form>
    </section>

    <section id="form-data">
      <div class="messages">
        <% data.forEach(function(datamsg){ %>
           <p><%= datamsg.message %> <span id="delete"><a href="/delete/<%= datamsg._id %>"><i class="fas fa-trash-alt"></i></a></span></p>
            <% }) %>
          </div>
    </section>
    <footer>Made with ❤️ By Satyam Raghuwanshi. <a href="https://github.com/satyamraghuwanshi136/">Go To My GitHub</a></footer>
  </main>
</body>
</html>